$headline-color: #44a19c;
$text-color: #323232;
$color-white: white;
$color-btn: #e46e4d;
$color-second: #969696;

body{
    font-family: 'Ubuntu', sans-serif;
}
.logo{
    font-size: 30px;
    color: $headline-color!important;
    font-weight: bold;
    margin-left: -15px;
}
.nav-link{
    font-size: 14px;
    color: $text-color!important;
    text-transform: uppercase;
    line-height: 1.286;
}
.nav-link:hover{
    color: rgb(170, 168, 168)!important;
}
.country{
    color: $color-second;
}
 .box1{
    width: 100%;
    margin-top: 30px;
 }
 .line1 {
    height: 2px;
 }

 .box2{
    font-size: 14px;
    color: #323232;
    margin-top: -40px;
    margin-left: -9px;
    background-color: white;
    padding: 10px;
    max-width: 118px;
 }
 .box2 span{
     color: $color-second;
 }
 .blog{
    font-size: 46px;
    color: $text-color;
 }
 .col-lg-3{
     max-width: 100%;
 }
 .link_text a{
    font-size: 22px;
    color: $headline-color !important;
    line-height: 1.091;
    text-decoration: none;
 }
 .link_text a:hover{
     color: #56c9c3!important;
 }
 @media all and (max-width: 991px){
     .link_text{
         margin-top: 100px;
     }
 }
//  .headline{
//     font-size: 22px;
//     color: $headline-color;
//     line-height: 1.091;
//  }
 .block-text{
    font-size: 16px;
    color: $text-color;   
    line-height: 1.25;
}
.block-text-t{
    font-size: 12px;
    color: $color-second;
    text-transform: uppercase;
    line-height: 1.833;
}
.time{
    max-width: 40px;
    text-align: center;
}
.time p{
    position: relative;
    z-index: 1;
    margin-top: -148px;
    font-size: 20px;
    color: $color-white;
    text-transform: uppercase;
    line-height: 1.1;
    margin-left: 5px;
}
@media all and (max-width: 991px){
    .headline{
        padding-top: 100px;
    }
}

.button button:first-child{
    background-color: $color-btn;
    color: $color-white;
}
.button button{
    background-color: $color-white;
    color: $color-btn;
    margin: 5px;
    margin-bottom: 50px;
}

.main {
    width: 100%;
    margin: 50px auto;
}
.main button{
    background-color: $color-btn;
}
.main img{
    width: 90%;
    height: 20px;
}
.main h5{
    font-size: 22px;
    color: $text-color;
    line-height: 1.136;
    margin-top: -74px;
    background-color: $color-white;
    max-width: 85px;
    padding: 11px;
    margin-bottom: 40px;
}
.tags{
    margin: -15px;
}
.tags h5{
    font-size: 22px;
    color: $text-color;
    line-height: 1.136;
    margin-top: -26px;
    background-color: $color-white;
    margin-left: 15px;
    max-width: 72px;
    padding: 11px;
    margin-bottom: 30px;
}
.tags button{
    background-color: #f0f0f0;
    font-size: 12px;
    color: $text-color;
    text-transform: uppercase;
    margin: 5px;
}
.right{
    margin-top: 25px;
}
.right a{
    text-decoration: none;
}
.right .right-text:hover{
    color: #e46e4d!important;
}
.right-line{
    width: 100%;
    height: 2px;
    margin-top: -29px;
}
// .right-text a{
//     font-size: 14px;
//     color: $text-color!important;
//     line-height: 1.071!important;
//     margin-left: 68px;
//     text-decoration: none;
// }
.right-text{
    font-size: 14px;
    color: $text-color;
    line-height: 1.071;
    margin-left: 68px;
}
@media all and (max-width: 991px){
    .right-text{
        margin-left: 0;
    }
}
.right h5{
    font-size: 22px;
    color: $text-color;
    line-height: 1.136;
    margin-top: -10px;
    background-color: $color-white;
    margin-left: 15px;
    max-width: 226px;
    padding: 11px;
    z-index: 1;
}
.right span{
    color: $color-second;
}

footer{
    background-color: $text-color;
}
.footer-top{
    padding: 30px;
}
.footer-links ul{
    list-style: none;
}
.footer-links ul li a{
    font-size: 14px;
    color: rgba(254, 254, 254, 0.6);
    text-transform: uppercase;
}

.footer-contact p{
    color: rgba(255, 255, 255, 0.302);
}
.social-links a{
    padding: 3px;
}
.social-links img:hover{
    opacity: 0.8;
}
